<div class="content">
    <div class="frame">
        <div class="camera-container">
            <div class="camera">
                <div class="point"></div>
            </div>
        </div>
                
        <router-outlet></router-outlet>

        <div class="options">
            <div class="option" routerLink="lista">
                <i class="fas fa-users"></i>
                <div class="text">Contacts</div>
            </div>
            <div class="option" routerLink="../nuevo">
                <i class="fas fa-plus"></i>
                <div class="text">New</div>
            </div>
        </div>

    </div>
</div>