<div class="form">
    <div class="icon">
        <i class="fas fa-user-circle"></i>
    </div>
    <form action="" (submit)="submit()" [formGroup]="editForm">
        <input type="text" placeholder="Nombre" formControlName="nombre" [(ngModel)]="infoContacto.nombre">
        <input type="text" placeholder="Apellido" formControlName="apellido" [(ngModel)]="infoContacto.apellido">
        <input type="text" placeholder="cedula" formControlName="cedula" [(ngModel)]="infoContacto.cedula">
        <div class="telefonos" id="telefonosContainer" *ngIf="listTelefonos !== []">
            <input *ngFor="let telefono of listTelefonos" type="text" placeholder="Teléfono" [value]="telefono.numeroTelefono">
        </div>
        <div class="correos" id="correosContainer" *ngIf="listCorreos !== []">
            <input *ngFor="let correo of listCorreos; let i = index" type="text" placeholder="Correo" [value]="correo.direccionCorreo">
        </div>

        <button>Actualizar</button>
        <button type="button" class="delete" (click)="eliminar()">Eliminar contacto</button>
    </form>
</div>